* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: roboto-bold;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    grid-area: 1/1/-1/2;
    box-shadow:   3px 3px 10px rgba(0, 0, 0, 0.3);
}
.sidebarContent {
    margin:30px auto 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.content {
    display:none;
}
.logo {
    display: flex;
    justify-content: center;
}
.logoName {
    justify-content: center;
    font-family: roboto-bold;
    font-size: 2.5rem;
    font-weight: bold;
}
.contentContainer {
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.3);
    grid-area: 1/2/-1/-1;
}
.footer {
height: 20px;
}
.footer >p {
    font-size: 0.8rem;
    font-weight: bold;
    color: #475569;
    font-family: roboto-regular;
}
#addNewBook {
    display: block;
    width: 130px;
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#addNewBook:hover {
    background-color: white;
    color: white;
    box-shadow: none;
}
#addNewBook>svg{
    fill: black;
}
#addNewBook>svg:hover{
    fill: red;
}
#addNewBook>p {
    font-family: roboto-bold;
    font-weight:bolder;
    font-size: 0.9rem;
}
.newBookContainer{
    display:none;
    margin-top: 100px;
    font-family: roboto-bold;
    font-size: 0.9rem;
}
#newBookForm {
    display: flex;
    flex-direction: column;
    gap:30px
}
.tapr div:not(.check){
    display: flex;
    align-items: center;
    gap: 20px;
    width: 280px;
}
.tapr {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tapr div label {
    width: 50px;
}
.tapr div input:not(#read) {
    width: 220px;
    height: 25px;
}
.btns {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.btn {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background-color: red;
    border:none;
    border-radius: 4px;
    font-family: roboto-bold;
    color: white;
    width: 100px;
    padding: 8px 4px;
}
.btn:hover {
    background-color: white;
    color:red;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
.btn:focus {
    box-shadow: 3px 3px 10px rgba(255, 0, 0, 0.9);
}
.tapri:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.check {
    display: flex;
    gap: 20px;
    width: 280px;
    height: 25px;
}
input[type="checkbox"] {
    display: grid;
    place-content: center;
    cursor: pointer;
    appearance: none;
    background-color: #fff;
    color: black;
    width: 20px;
    height:20px;
    border:2px solid black;
    border-radius: 3px;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em red;
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.tapr input:not(#read) {
    padding: 5px 2px;
    border:2px solid black;
    border-radius: 3px;
    font-family: roboto-regular;
    font-size: 0.8rem;
}
#library {
    margin: 0px auto 0 auto;
    width: 90%;
}
.libraryHeader{
    width: 90%;
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 3fr;
    align-items: center;
    justify-items: start;
}
.libraryHeader p {
    font-family: roboto-bold;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
}
.bookelement {
    margin: 0px auto;
}
.bookelement div {
    height: 70px;
    font-family: roboto-regular;
    display: grid;
    align-items: center;
    justify-items: start;    
    grid-template-columns: 3fr 3fr 2fr 2fr 3fr;
    border-bottom: 2px solid red;
}
.bookelement div p {
    white-space: normal;
    padding: 0.3rem 0.5rem;
}
#doublebut {
    display: flex;
    gap: 10px;
}
#doublebut button {
    flex:1;
}
